.modal{
    background-color: #949494ce;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: auto;
    padding-top: 200px;
    display: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.contenido{
    background-color: #520000;
    width: 60%;
    margin: auto;
    position: relative;
    padding: 1rem;
    animation-name: animarmodal;
    animation-duration: 0.5s;
}







@keyframes animarmodal {
    from {top: -300px; opacity: 0;}
    to{top: 0; opacity: 1;}
}
.areacerrar{
    font-size: 2rem;
    float: right;  
}

.pericerrar{
    font-size: 2rem;
    float: right;  
}



.contenido h2{
    background-color: rgb(184, 114, 0);
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;
    padding: 1rem 0;
    text-align: center;
    clear: both;
}





.termincont{

    background-color: #270404;
    width: 60%;
    margin: auto;
    position: relative;
    padding: 1rem;
    animation-name: animarmodal;
    animation-duration: 0.5s;
}

.termincont p{

    margin: 7px 36px 7px 36px;

}


.termincont h2{

  margin: 15px 37px 7px 36px;
}


@media (max-width: 700px) {

    .termincont {
        background-color: #270404;
        width: 89%;
 
        margin-left: 22px;
        position: relative;
        padding: 1rem;
        animation-name: animarmodal;
        animation-duration: 0.5s;
   
    }
    
    .termincont h2 {
        margin: 15px 37px 7px 36px;
        font-size: 21px;
    }
    
    
    #cerrarter{
        margin-left: 193px;
        margin-top: -40px;
    }
    .termincont p {
        margin: -37px 11px 7px 8px;
        font-size: 12px;
    }

}